/*Start general edits*/
body{
	font-family: varela round,sans-serif;
	font-size: 16px;
}
h2{
	font-weight:bold;
	font-size:42px;
	margin: 50px 0 120px;
	text-transform: capitalize;
}
.container-fluid{
	max-width: 100%!important;
}
.clear{
	height:100px;
}
.clean{
	height:400px;
}
/*End general edits*/
/*Start home*/
/*Start navbar*/
.navbar{
     background-color:transparent!important;
}
.navbar-brand{
	color: white!important;
	text-transform: uppercase;
	margin-left: 200px;
	font-size: 30px;
	font-weight: bold;
}
.navbar ul li a{
	color:white!important;
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
	transform: translate(460px,0);
	margin-right: 13px;
}
.dropdown-menu{
	background-color: royalblue;
	transform: translate(440px,0);
	width: 200px;
	border-radius: 0;
	color: white;
}
.navbar ul li a :hover{
	color: gray!important;
}
.navbar .active .underline{
	width:40px;
	border:1.2px solid #6195ff;;
}
.navbar .underline1{
	width:40px;
	border:1.2px solid #6195ff;;
	display: none;
}
.navbar .underline1 :hover{
	display: inline;
}
/*End navbar*/
.bgimage{
	background-image:url('../images/background.jpg');
	background-position:center center;
	background-size:cover;
	height:860px;
	filter:brightness(.2);
	background-attachment:fixed;
}
.title{
	position:absolute;
	top:40%;
	bottom:50%;
	right:400px;
}
h1{
	text-align: center;
	color:white;
	font-weight: 700;
	margin-top: -20px;
	margin-left: 40px;
	line-height: 1.1;
	text-transform:uppercase;
	font-size: 54px;
	font-family: montserrat,sans-serif;
}
p{
	font-size:16px;
	text-indent: inherit;
	color:white;
	text-align:center;
	margin: 20px 0 10px!important;
	font-family: montserrat,sans-serif!important;
}
.title button{
	width: 170px;
	height:50px;
	border-radius: 2px!important;
	transform: translate(290px,18px)!important;
	font-size: 16px!important;
	text-transform: capitalize;
	transition: .2s opacity;
	margin-left: -10px;
	margin-right: 20px;
	text-align:center;
}
/*End Home*/
/*start about*/
.about{
	width:100%;
}
.about .underline {
	width:40px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.about .box1{
	padding: 20px 0 50px;
	width:350px;
	float:left;
	margin-right:20px;
	margin-top:-36px;
	background:white;
	border:.5px solid #eee;
}
.about .box2{
	padding: 20px 0 50px;
	width:350px;
	margin-right:20px;
	margin-top:-36px;
	float:left;
	background-color:white;
	border:1px solid #eee;
}
.about .box3{
	padding: 20px 0 50px;
	width:350px;
	float:left;
	margin-top:-36px;
	background:white;
	border:1px solid #eee;
}
.about i{
	font-size:30px;
	margin:24px 0 20px;
	color:#6195ff;
}
.about .box1 h3,
.about .box2 h3,
.about .box3 h3{
	margin-bottom:20px;
	color:black;
	font-size:20px;
	font-weight: 700;
	line-height: 1.2;
	text-transform:capitalize;
	font-family: sans-serif;
}
.about .box1 p,
.about .box2 p,
.about .box3 p{
	color:#868f9b;
	font-size: 16px;
	line-height: 1.6;
	text-align:center;
	margin: 0 0 10px
}
.about a{
	color: #6195ff;
	text-transform:capitalize;
}
/*.about:after {
	content: "";
	background-color: #1c1d21;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0%;
	z-index: -1;
	-webkit-transition: .2s width;
	transition: .2s width;
}*/
/*End about*/
/*start portfolio*/
.portfolio{
	width:100%;
	background-color:#fafafa;
	padding-top:40px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.portfolio .underline {
	width:40px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.portfolio img{
	border:20px solid #fafafa;
	margin-bottom:50px;
	width:350px;
	height:350px;
	margin-top: -40px;
}.portfolio img:hover{
	filter:brightness(.2);
	transition:.3s ease-in-out;
}
/*End portfolio*/
/*start services*/
.services{
	width: 100%;
}
.services .underline{
	width:40px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.services .box1,
.services .box2,
.services .box3{
	width:350px;
	float:left;
	padding: 30px 0 40px;
	margin-right:20px;
	margin-bottom:30px;
	background:white;
	border:1.2px solid #fafafa;
}
.services h3{
	text-transform: capitalize;
	font-size: 23px;
	font-weight: 700;
	display: inline;
	font-family: sans-serif;
}
.services i{
	color:#6195ff;
	font-size: 30px;
	margin-left: -30px;
	display: inline;
}
.services p{
	text-align: justify;
	margin-left: 60px!important;
	color:#868f9b;
}
.section2{
	width:100%;
	border-top:.3px solid #eee;
	background-color:#fafafa;
	padding-bottom:260px;
	padding-top: 100px;
}
.section2 h3 {
	text-align: left;
	margin-left: -350px;
	font-size: 36px;
	margin-bottom: 40px!important;
}
.section2 i{
	margin-right:30px;
	font-size:28px;
}
.section2 .slider{
	width:550px;
	height:450px;
	float:right;
	margin-right: -20px;
}
.section2 .slider ol li{
	background: #eee;
	transform: translateY(60px);
	width: 10px;
}
.section2 .slider .active{
	background-color: royalblue;
}
.section2 .underline {
	width:40px;
	border:2px solid #6195ff;;
	margin-top:20px;
	margin-right:530px;
}
.section2 p{
	color: #868f9b;
	transform: translate(-90px,80px);
}
.section2 ul{
	transform: translate(-70px,90px);
	list-style-type: none;
	color: #868f9b;
	padding-bottom: 50px;

}
.bgimage1{
	background-image:url('../images/background1.jpg');
	background-position:center center;
	background-size:cover;
	height:280px;
	filter:brightness(.3);
	background-attachment:fixed;
}
.icons i{
	position:relative;
	bottom:200px;
	font-size:36px;
}
h4{
	color:white;
	margin-top:-180px;
	margin-left: -40px;
	font-size:40px;
	font-weight: 700;
}
.icons p{
	margin-right:-90px;
	color:white;
	text-transform: capitalize;
}
/*End services*/
/*price*/
.price{
	width: 100%;
	background-color:white;
}
.price h2{
	color: #10161a;
	font-size:36px;
	margin-top:70px;
	letter-spacing:1px;
	text-transform:capitalize;
}
.price .box1,
.price .box2,
.price .box3{
	width:345px;
	margin-right:22px;
	margin-top: -15px;
	background-color:white;
	margin-bottom:100px;
	float:left;
	border: 1px solid #eee;
}
.price h3{
	margin-top:45px;
	margin-bottom:30px;
	font-size:16px;
	color: #868f9b;
	text-transform:capitalize;
}
.price .underline {
	width:40px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.price .totalprice,
.price .totalprice1{
	width:140px;
	height:140px;
	background-color:white;
	border:1.6px #6195ff solid;
	border-radius:50%;
	text-align:center;
	margin:0 auto;
	/*margin-bottom:40px;*/
}
.price .box1 .totalprice p{
	color:black;
	font-size:24px;
	font-weight:bold;
	position: absolute;
	top: 40%;
	left: 12%;
}
.price .box2 .totalprice1 p{
	color:black;
	font-size:24px;
	font-weight:bold;
	position: absolute;
	left: 44%;
	top: 40%;
}
.price .box3 .totalprice p{
	color:black;
	font-size:24px;
	font-weight:bold;
	opacity:1;
	position:absolute;
	top: 40%;
	right: 14%;
}
.price .box1 .totalprice p span,
.price .box2 .totalprice1 p span,
.price .box3 .totalprice p span{
	font-size: 15px;
}
.price ul{
	margin-left: -30px;
	margin-bottom:30px
}
.price ul li{
	padding:10px 0;
	color: #868f9b;
	font-size: 18px;
    font-weight: 500;
}
.price .box1 button,
.price .box2 button,
.price .box3 button{
	font-size:16px;
	font-weight: 700;
	text-transform:lowercase;
	width:180px;
	height:50px;
	border-radius:0;
	background-color:white;
	color:#6195ff;
	border:1.6px solid #6195ff;
	margin-bottom:50px;
}
.price .designers{
	background-image:url('../images/background2.jpg');
	background-position:center center;
	background-size:cover;
	height:450px;
	filter:brightness(.3);
	background-attachment:fixed;
}
.price .designers2 {
	transform: translateY(-400px);
}
.price .designers2 .row{
	padding-right: -50px!important;
}
.price .designers2 .col-lg{
	width: 30%;
	float: left;
	margin-left: 250px;
	margin-top: 60px;
}
.price .designers2 span{
	color:#6195ff;
	display: block;
	margin-left: -120px;
}
.price .slider{
	margin: 0 auto;
}
.price .designers2 img{
	display:inline;
	width: 70px!important;
	height: 70px!important;
	border-radius: 50%;
	margin-bottom: -60px;
	margin-right: -50px;
}
.price .designers2 h6{
	font-size:22px;
	color:white;
	display:inline;
	font-weight:bold;
	margin-left: -120px;
}
.price .designers2 p{
	text-align: left;
	margin-top: 50px!important;
}
/*End of price*/
/*start team*/
.team {
	width: 100%;
	margin-top: -200px;
}
.team h2 {
	color: black;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.1;
}
.team .underline {
	width:45px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.team h3{
	font-size: 24px;
	margin-top: 20px;
	font-weight: 700;
	font-family: sans-serif;
}
.team span{
	font-size: 14px;
	color: #868f9b;
	text-transform: uppercase;
	font-family: sans-serif;
}
.team .member1{
	background-color:#f4f4f4;
	width:350px;
	float:left;
	padding: 40px 20px;
	margin-top: -30px;
}
.team .member1 img{
	height:300px;
	width: 305px;
}
/*End team*/
/*start news*/
.news {
	width: 100%;
	background-color:#fafafa;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 30px;
}
.news h2{
	text-transform:uppercase;
	color:black;
	font-weight:700;
	font-size:36px;
	line-height: 1.1;
}
.news .underline {
	width:45px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.news .col-lg{
	width:18%;
	margin-right: 15px;
	background-color:white;
	margin-bottom: 180px;
}
.news .info{
	margin-top: 20px;
	margin-left: 4px;
	text-align: left;
}
.news img {
	margin-left: -13px;
}
.news h4{
	margin-top:30px;
	text-transform:uppercase;
	color:black;
	font-size:19px;
	font-weight:bold;
	text-align: left;
	margin-left: 5px;
}
.news p{
	line-height: 1.6;
	overflow-x: hidden;
	color: #868f9b;
	font-size:15px;
	text-align:left;
	margin-top:30px;
	margin-bottom: 7px;
}
.news  i{
	color: #6195ff;
}
.news .col-lg a {
	float: left;
	color: #6195ff;
	margin-bottom: 25px;
	text-transform: capitalize;
}
/*end news*/
/*Start contact*/
.contact{
	width: 100%;
}
.contact h2 {
	text-transform: uppercase;
	color: black;
	font-weight: 700;
	font-size: 36px;
}
.contact .underline {
	width:45px;
	border:2px solid #6195ff;;
	margin-top:-100px;
	position:absolute;
	right:50%;
}
.contact .row .col-lg{
	margin-top: 120px;
}
.contact i{
	color:blue;
	font-size: 32px;
	transform: translate(-10px ,-120px);
}
.contact h4{
	text-transform: capitalize;
	font-size:22px;
	color: black;
	transform: translate(10px,90px);
}
.contact p{
	color:gray;
	transform: translate(-10px ,100px);
}
.contact form{
	padding-right: -30px!important;
	margin-top:60px;
}
.contact input{
	display: inline;
	margin-left: 70px;
	margin-bottom: 40px;
	height: 40px;
	background-color:#fafafa ;
	width: 300px;
	border: none;
	border-bottom: 2px solid #eee;
	color: #354052;
	padding: 0 10px;
	opacity: .5;
}
.contact textarea{
	height: 100px;
	width: 800px;
	background-color:#fafafa ;
	margin-left: 100px;
	border: none;
	border-bottom: 2px solid #eee;
	color: #354052;
	padding: 0 10px;
	opacity: .5;
}
.contact button{
	background-color: #6195ff;
	width: 180px;
	height: 50px;
	border: 2px solid transparent;
	border-radius: 3px;
	margin-top: 30px;
}
/*End contact*/
/*Start footer*/
.footer{
	background-color: #1c1d21;
	width: 100%;
}
.footer h2{
	display: block;
	font-size: 52px;
	color: #fafafa;
	margin: 70px auto;
}
.footer i{
	font-size: 36px;
	color: #fafafa;
}
.footer .icons{
	display: block;
	margin-top: 70px;
	padding-right: 20px;
}
.footer .fb{
	width: 20px;
	height: 20px;
	background-color: royalblue;
}
/*End footer*/
/*used colors
#fafafa;--light blue
#868f9b----
#6195ff------blue
*/